<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site is created by Falgun Makadia as a basic project under node.js v3.</p>
        <p>Guidance : Andrew Joseph Mead</p> 
        <p>It takes data from mapbox.com and darksky.net. 
        <p>However, no one will be able to see the forecast as darksky.net has stopped providing data. But you still can use this site for converting a location to Latitude and Longitude.</p>
        <hr>
        <img class="portrait" src="/img/me.JPG">
        <hr>
    </div>
    
    {{>footer}}
</body>

</html>


{{!-- <!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        {{>header}}
        <hr>
        <p>THIS IS MY DREAM CAR</p>
        <img src="/img/mustang.jpg">
        <hr>
        {{>footer}}
    </body>
</html> --}}