<!DOCTYPE html>

<html>

<head>
    <title>404</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p class='text-inside'>{{errormsg}}</p>
    </div>
    
    {{>footer}}
</body>

</html>


{{!-- <!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        {{>header}}
        <hr>
        <h2>{{errormsg}}</h2>
        <hr>
        {{>footer}}
    </body>
</html> --}}