<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p class='text-inside'>{{helpText}}</p>
    </div>
    
    {{>footer}}
</body>

</html>


{{!-- <!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        {{>header}}
        <hr>
        <p>Got stuck? Don't worry. {{name}} is here to help you.</p>
        <hr>
        {{>footer}}
    </body>
</html> --}}