<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p  class='text-inside'>Use this site to get your weather!</p>
        <form>
            <input type="text" placeholder="Location">
            <button>SEARCH</button>
            <p id="m1"></p>
            <p id="m2"></p>
            <p id="m3"></p>
        </form>
    </div>

    {{>footer}}
    <script src="/js/appindex.js"></script>
</body>

</html>



{{!-- <!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        {{>header}}
        <hr>
        <h3>INDEX page</h3>
        <p>Author name : {{name}} aka {{gamename}}</p>
        <hr>
        {{>footer}}
    </body>
</html> --}}